.emptyBtn {
    border: solid 1px white;
    border-radius: 1px;
    padding: 10px 15px 10px 15px;
    color: white;
    font-weight: bold;
    &:hover {
        background: white;
        color: black;
    }
}

.fullBtn {
    border: solid 1px white;
    border-radius: 1px;
    padding: 10px 15px 10px 15px;
    background: white;
    color: black;
    font-weight: bold;
    &:hover {
        color: white;
        background: none;
    }
}
