$otherFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
$mainFont: 'PT Sans', sans-serif;
$black : rgb(24, 24, 24);

* {
  margin: 0;
  padding: 0;
}

html {
    width: 100%;
}

body {
  font-family: $mainFont;
}
